.container-login{
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    border-radius: 35px;
    background: #14141a;
    border: 1px solid #FF7679;
    padding: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    @media (max-width:350px){
        padding: 15px;
    }
}
.container-login__logo{
    text-align: center;
    margin-bottom: 50px;
    padding: 0 45px;
}
.container-login-item{
    width: 100%;
    max-width: 250px;
    height: 40px;
    color: #FF7679;
    margin-bottom: 40px;
    border-radius: 50px;
    font-size: 18px;
    border: 1px white solid;
    fieldset{
        position: relative;
        input:nth-child(2), input:focus:first-child{
            border-width: 0px;
            outline:0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            background-color: transparent;
            position: absolute;
            left: 0;
            top: 27px;
        }
        legend{
            position: absolute;
            top: -30px;
            left: 15px;
        }
    }
    .item__el{
        font-size: 16px;
        color: white;
        margin-left: 10px;
        margin-top: -18px;
    }
}
.btn-login{
    border-radius: 35px;
    border-width: 0px;
    background-color: white;
    padding: 15px 90px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s linear;
    &:hover{
        background-color: #FF7679;
        border: 1px solid white;
    }
}
.btn-into-reg{
    background: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.container-registration{
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    border-radius: 35px;
    background: white;
    border: 1px solid #FF7679;
    padding: 25px;
    display: none;
    flex-direction: column;
    align-items: center;
    .container-registration__logo{
        text-align: center;
        margin-bottom: 50px;
        padding: 0 45px;
    }
    .container-registration-item{
        width: 100%;
        max-width: 250px;
        height: 40px;
        color: #FF7679;
        margin-bottom: 50px;
        border-radius: 50px;
        font-size: 18px;
        border: 1px black solid;
        fieldset{
            position: relative;
            input:nth-child(2), input:focus:first-child{
                border-width: 0px;
                outline:0;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                background-color: transparent;
                position: absolute;
                left: 0;
                top: 27px;
            }

            legend{
                position: absolute;
                top: -30px;
                left: 15px;
                font-weight: 900;
            }
        }
        .item__el{
            font-size: 16px;
            color: black;
            margin-left: 10px;
            margin-top: -18px;
        }
    }
    .btn-registration{
        border-radius: 35px;
        border-width: 0px;
        background-color: #14141a;
        padding: 15px 30px;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 600;
        transition: 0.3s linear;
        color: #FF7679;
        &:hover{
            background-color: #afafaf;
            border: 1px solid white;
            color: #14141a;
        }
    }
    .btn-into-log{
        background: none;
        color: black;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
    }
    @media (max-width:350px){
        padding: 15px;
    }
}

.active{
    display: flex;
}

.red-span{
    color: #FF7679;
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    background-image: url(/img/background_image.jpg);
    transition: 0.3s all;
 }
.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}
.modal__cross {
    font-size: 25px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    color: #FF7679;
 }