*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
body{
    background-color: #262732;
    background-image: url(/img/background_image.jpg);
    background-position: center;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.hide-scrollbar{
    height: 100vh;
    overflow: hidden;
    scrollbar-gutter: stable;
}

@import './fonts';

@import './swiper';
@import './modal';
@import './preloader';

@import './header';
@import './content';
@import './masters-section';
@import './works-section';
@import './styles-section';
@import './profile-section';
@import './registration';
@import './footer';